
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

:root{
    --ice: rgb(0, 171, 250);
    --fire: rgb(255, 102, 0);
    --lightning: rgb(162, 0, 255);
    --aether: rgb(234, 0, 255);

    --magical: #48f;

    --dark-bg: #212129;
    --dark-font-color: #c5bdcc;

}

*{
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark-bg);
    color: var(--dark-font-color);
}

.portrait-container{
    width: 100%;
    text-align: center;
}

p{
    font-size: 1.05em;
}

img.portrait{
    width: 700px;
    height: 700px;
}

h1.title{
    font-size: xx-large;
    width: 100%;
    text-align: center;
}

.chapter{
    margin-top: 50px;
    margin-inline: 10%;
}

span{
    color: var(--color-param);
}

table{
    border-spacing: 0;
    width: 100%;
}

th{
    padding: 20px;
    width: var(--width);    
}

td{
    padding: 20px;
   
}

th, td{
    border-bottom: 1px solid var(--dark-font-color);
}

th.small{
    width: 20%;
}

img{
    vertical-align: middle;
}

img.icon{
    width: 45px;
    height: 45px;
}

.modskill{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.skill{
    display: block;
    width: 45px;
    height: 45px;
}

.modicon{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
}  

.display{
    width:100px;
    height: 100px;
    vertical-align: middle;
    margin-inline:5px;
}

.cell-center{
    text-align: center;
}

